<div class="container">
  <div class="header-actions">
    <h2>Listado de Médicos</h2>
    <button routerLink="/medicos/nuevo" class="btn btn-primary">
      + Nuevo Médico
    </button>
  </div>

  <div *ngIf="cargando" class="loading">Cargando datos...</div>
  <div *ngIf="error" class="error-msg">{{ error }}</div>

  <div class="table-container" *ngIf="!cargando && medicos.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre Completo</th>
          <th>Nº Colegiado</th>
          <th style="text-align: center;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medico of medicos">
          <td>{{ medico.id }}</td>
          <td>{{ medico.nombre }} {{ medico.apellidos }}</td>
          <td>{{ medico.numColegiado }}</td>
          <td style="text-align: center;">
            <button [routerLink]="['/medicos/editar', medico.id]" class="btn btn-secondary-outline"
              style="margin-right: 5px;">
              Editar
            </button>

            <button (click)="eliminar(medico.id)" class="btn btn-danger">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!cargando && !error && medicos.length === 0" class="card">
    <p>No hay médicos registrados en el sistema.</p>
  </div>
</div>