<div class="container">
    <div class="header-actions">
        <h2>Listado de Citas</h2>
        <button routerLink="/citas/nuevo" class="btn btn-primary">
            + Nueva Cita
        </button>
    </div>

    <div *ngIf="cargando" class="loading">Cargando datos...</div>
    <div *ngIf="error" class="error-msg">{{ error }}</div>

    <div class="table-container" *ngIf="!cargando && citas.length > 0">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha y Hora</th>
                    <th>Motivo</th>
                    <th>Médico</th>
                    <th>Paciente</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of citas">
                    <td>{{ cita.id }}</td>
                    <td>{{ cita.fechaHora | date:'medium' }}</td>
                    <td>{{ cita.motivoCita }}</td>
                    <td>{{ cita.nombreMedico }}</td>
                    <td>{{ cita.nombrePaciente }}</td>
                    <td style="text-align: center;">
                        <button [routerLink]="['/citas/editar', cita.id]" class="btn btn-secondary-outline"
                            style="margin-right: 5px;">
                            Editar
                        </button>

                        <button (click)="eliminar(cita.id)" class="btn btn-danger">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!cargando && !error && citas.length === 0" class="card">
        <p>No hay citas registradas en el sistema.</p>
    </div>
</div>