<div class="container">
    <div class="header-actions">
        <h2>Listado de Diagnósticos</h2>
        <button routerLink="/diagnosticos/nuevo" class="btn btn-primary">
            + Nuevo Diagnóstico
        </button>
    </div>

    <div *ngIf="cargando" class="loading">Cargando datos...</div>
    <div *ngIf="error" class="error-msg">{{ error }}</div>

    <div class="table-container" *ngIf="!cargando && diagnosticos.length > 0">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Valoración</th>
                    <th>Enfermedad</th>
                    <th style="text-align: center;">ID Cita</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let diag of diagnosticos">
                    <td>{{ diag.id }}</td>
                    <td>{{ diag.valoracionEspecialista }}</td>
                    <td>{{ diag.enfermedad }}</td>
                    <td style="text-align: center;">{{ diag.citaId }}</td>
                    <td style="text-align: center;">
                        <button [routerLink]="['/diagnosticos/editar', diag.id]" class="btn btn-secondary-outline"
                            style="margin-right: 5px;">
                            Editar
                        </button>

                        <button (click)="eliminar(diag.id)" class="btn btn-danger">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!cargando && !error && diagnosticos.length === 0" class="card">
        <p>No hay diagnósticos registrados en el sistema.</p>
    </div>
</div>