<div class="container" style="max-width: 800px;">
    <div class="card">
        <h2>{{ titulo }}</h2>

        <form [formGroup]="form" (ngSubmit)="guardar()">

            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" formControlName="nombre">
            </div>

            <div class="form-group">
                <label>Apellidos:</label>
                <input type="text" formControlName="apellidos">
            </div>

            <div class="form-group">
                <label>Nombre Usuario:</label>
                <input type="text" formControlName="nombreUsuario">
            </div>

            <div *ngIf="!esEdicion" class="form-group">
                <label>Contraseña:</label>
                <input type="password" formControlName="clave">
            </div>

            <div class="form-group">
                <label>Nº Colegiado:</label>
                <input type="text" formControlName="numColegiado">
            </div>

            <div class="form-actions">
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
                    Guardar
                </button>

                <button type="button" routerLink="/medicos" class="btn btn-secondary">
                    Cancelar
                </button>
            </div>

        </form>
    </div>
</div>